*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.active{
    color: red;
    border-bottom: 1px solid red;
}
.main-container nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav img{
    width: 9%;
    margin-left: -120px;
}
nav ul{
    display: flex;
    list-style: none;
    margin-left: 460px;

}
nav ul a{
    text-decoration: none;
    color: black;
    
    margin: 10px;
}
nav ul li{
    font-size: 18px;
    padding: 6px;
}
nav ul li:hover{
    color: red;
    border-bottom: 1px solid red;
}
.main-box{
    display: flex;
    
    justify-content: space-evenly;
    height: 80vh;
   
    
}
.image{
    position: relative;
    width: 25%;
    background-color: red;
}
.image img{
    width: 100%;
    position: absolute;
    left: -20px;
    top: 19px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.connect a{
    cursor: pointer;
}

.content h1{
    width: 80%;
    font-size: 50px;
}
span{
    color: red;
}
.content p{
    width: 80%;
   opacity: 0.7;
}
.content button{
  background-color: red;
  outline: none;
  cursor: pointer;
  border: none;
  width: max-content;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  transform: translateY(10px);
}
.allCars{
    padding-top: 30px;
   
}
.allCars h1{
    text-align: center;
}
.allCars p{
    width: 100%;
    text-align: center;
    opacity: 0.7;
}
.main{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
   
    
}

.card img{
    width: 100%;
}
.card{
    width: 450px;
    height: 500px;
    
}
.card:hover{
    background-color: rgb(156, 151, 151);
    cursor: pointer;

}
.card p{
    width: 450px;
    
    text-align: justify;
    
}
.card p:nth-child(4){
    margin: 0 5px 5px 0;
    height: 60px;
}
.card p:nth-child(3){
    color: red;
    font-weight: 600;
}
.card p:nth-child(2){
    
    font-weight: 600;
}
footer{
    display: flex;
    height: 500px;
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.847);
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul a{
    text-decoration: none;
    color: rgba(144, 143, 143, 0.93);
}
footer ul li{
    margin: 10px 10px 10px 0px;
}
footer p{
    color: rgba(144, 143, 143, 0.93);
}
.quick, .connect, .terms{
    height: 200px;
    border-left: 1px solid white;
    padding-left: 20px;
}

@media screen and (max-width:700px) {
    .main-container nav{
        display: block;
        justify-content: center;
        align-items: center;
      
    }
    
    nav img{
        width: 9%;
        margin-left: 250px;
    }
    nav ul{
        display: flex;
        list-style: none;
        margin-left: 25px;
    
    }
    
    .image{
 
        display: none;
       
    }
   
   
    .content{
        
        width: 80%;
    }
   
    
    .allCars{
        padding-top: 30px;
       
    }
    .allCars h1{
        text-align: center;
    }
    .allCars p{
        width: 100%;
        text-align: center;
        opacity: 0.7;
    }
    .main{
        display: block;
        margin: 35px;
       
       
        
    }
    
   
    footer{
        display: block;
        text-align: center;
        height: max-content;
        margin: 0px;
        padding: 50px 0;
        background-color: rgba(0, 0, 0, 0.847);
        color: white;
        justify-content: space-evenly;
        align-items: center;
    }
   
    
    
}
